*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-body {
    background-color: #E0F1F3;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 8px;
    }

.contacto__form {
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 6px;
    max-width: auto;
    background-color: #FBF7FF;
}

.lugares__img img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .lugares__img img{
        height: 350px;
        object-fit: cover;
        object-position: center center;
      }
  }

.lugares__img {
    position: relative;
}
.lugares__img img {
    width: 100%;
    opacity: 1;  
}

.lugares__img:hover .descripcion__foto {
    display: block;
}
.descripcion__foto {
    display: none;
    background:rgba(0,0,0,.7);
    position: absolute;
    padding: 10px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    color: white;
}
.descripcion__foto p {
    font-size: 15px;
}
.descripcion__foto h3 {
    margin-bottom: 50px;
    font-size: 25px;
}